.idea
.vscode
venv
.venv
docs/build
docs/_build
__pycache__
*.log
*.db
wfdata

# Don't track model definitions of the user, but keep the examples that are part of the
# repository.
models/*
!models/camunds
!models/tutorial

# Don't track form definitions of the user, but keep the examples that are part of the
# repository.
forms/*
!forms/tutorial
